@layer theme, base, components, utilities;

@import "./colors.css" layer(theme);
@import "./theme.css" layer(theme);

@import "./base.css" layer(base);

@import "../components/button.css" layer(components);
@import "../components/icon.css" layer(components);
@import "../components/list.css" layer(components);
@import "../components/select.css" layer(components);
@import "../components/tabs.css" layer(components);
@import "../components/tooltip.css" layer(components);

@import "./utilities.css" layer(utilities);
